/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@15.0.4_upmzqgzhjrquwzo2dphtigtdgi/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/.pnpm/next@15.0.4_upmzqgzhjrquwzo2dphtigtdgi/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/ui/sudoku/main-playground.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.sudoku-table {
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity, 1));
  outline: none;
}

.sudoku-cell {
  margin: auto;
  width: auto;
  padding: 0px;
  text-align: center;
  border-width: 0.5px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(163 163 163 / var(--tw-border-opacity, 1));
  .normal-mode-cell {
    height: 3rem;
  }
  .normal-mode-cell {
    width: 3rem;
  }
  .normal-mode-cell {
    line-height: 48px;
  }
  .noting-cell {
    display: grid;
  }
  .noting-cell {
    height: 3rem;
  }
  .noting-cell {
    width: 3rem;
  }
  .noting-cell {
    font-size: 0.75rem;
    line-height: 1rem;
  }
  .noting-cell {
    --tw-text-opacity: 1;
    color: rgb(115 115 115 / var(--tw-text-opacity, 1));
  }
  .noting-cell {
    grid-template-rows: repeat(3, 16px);
    grid-template-columns: repeat(3, 16px);
  }
}

.pause-mask {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

